.App {
  background-color: black;

}

.footer{
  background-color: rgb(65, 65, 73);
  color: white;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 2px; 
  margin-bottom: auto;
}

/*    style for /stocks    */

.stocks-container {
  background-color: black;
	margin-left: auto;
	margin-right: auto;
  position: float;
  padding-bottom: 150px;
  padding-top: 40px;
}

.graph-toolbar {
  background-color:  rgb(0, 0, 0);
  color: white;
  font-size: 2.2vmin;
  margin-left: auto;
	margin-right: auto;
  width: 70vw;
  height: 6vh;
  padding-bottom: 70px;
}

.graph {
  background-color: rgb(37, 36, 35);
  color: white;
  margin-left: auto;
	margin-right: auto;
  width: 70vw;
  height: 60vh;
  text-align: center;

}

