.App {
  text-align: center;
  background-color: black;

}

.footer{
  background-color: rgb(70, 70, 83);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 1rem;
}



/*    style for /stocks    */

.stocks-container {
  background-color: black;
  width: 100vw;
  height: 90vh;
	margin-left: auto;
	margin-right: auto;
}

.graph-toolbar {
  background-color:  rgb(22, 58, 5);
  color: white;
  font-size: 3vmin;
  margin-left: auto;
	margin-right: auto;
  width: 90vw;
  height: 6vh;
}

.graph {
  background-color: rgb(35, 94, 8);
  color: white;
  margin-left: auto;
	margin-right: auto;
  width: 90vw;
  height: 60vh;
  position:relative;
}
